:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --darkBlue: hsl(249, 10%, 26%); 
  --grayishBlue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
  margin: 0;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("./images/bg-intro-desktop.png");
  background-color: var(--red);
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.content-col {
  width: 45%;
}

.form-col {
  width: 45%;
}

.form-headline {
  background: var(--blue);
  letter-spacing: 1px;
  text-align: center;
  border-radius: 10px;
  padding: 1px;
}

.form {
  background: white;
  padding: 2rem;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.input-field {
  display: block;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--darkBlue);
  border: 1px solid #cecccc;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.input-field:focus {
  outline: none;
  border: 1.2px solid #969696;
}

.input-field::placeholder {
  font-weight: 600;
  color: #828282;
}

.btn {
  width: 100%;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: var(--green);
  border: none;
  border-bottom: 2px solid #2fa874;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.form p {
  font-size: 11px;
  font-weight: 600;
  color: var(--grayishBlue);
  text-align: center;
}

.form a {
  text-decoration: none;
  color: var(--red);
}